In [30]:
import numpy as np
import pandas as pd 
import re
import warnings
pd.set_option("display.max_colwidth", 200)
warnings.filterwarnings("ignore")
# import nltk
# import spacy                                       ## pip install -U spacy
# from nltk.tokenize.toktok import ToktokTokenizer
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('fbportal_updated.csv')
data.head()

                          Test Case Description    Label
0           What's the weather like in Chicago?  Weather
1   What is the forecast in Tampa for tomorrow?  Weather
2          What is the weather in Oregon today?  Weather
3            Is it raining in France right now?  Weather
4  Show me the weather in Mexico for next week.  Weather

In [3]:
def text_cleaner(text):
   
    newString = text.lower()
    newString = re.sub(r"pre-conditions: ","",newString)
    newString = re.sub(r"precondition: ","",newString)
    newString = re.sub(r"[^a-zA-Z0-9]+", ' ', newString)
    #newString = remove_stopwords(newString)
    return newString

In [4]:
#call the function
cleaned_text = []
data['Test Case Description']=data['Test Case Description'].astype(str)
for t in data['Test Case Description']:
    cleaned_text.append(text_cleaner(t))
data['cleaned_text']=cleaned_text

In [5]:
data.head()

,Test Case Description,Label,cleaned_text
0,What's the weather like in Chicago?,Weather,what s the weather like in chicago
1,What is the forecast in Tampa for tomorrow?,Weather,what is the forecast in tampa for tomorrow
2,What is the weather in Oregon today?,Weather,what is the weather in oregon today
3,Is it raining in France right now?,Weather,is it raining in france right now
4,Show me the weather in Mexico for next week.,Weather,show me the weather in mexico for next week

In [28]:
data[data['Label']=='Device']['cleaned_text']

221            bring up brightness
222          brighten screen a bit
223          bring down brightness
224              darken the screen
225       bring up brightness by 1
                   ...
322             turn up volume to 9
323           turn volume down to 4
324                          unmute
325          what is the brightness
326    what is the volume right now
Name: cleaned_text, Length: 106, dtype: object

In [27]:
def rpllacing(text):
    words=['mute', 'turn up', 'unmute', 'open','bring']
    
    for word in text.split():
        if word in words:
            return t.replace(word, 'brightness')

In [29]:
data[data['Label']=='Device']['cleaned_text'].apply(lambda x: rpllacing(x))

221    what is the volume right now
222                            None
223    what is the volume right now
224                            None
225    what is the volume right now
                   ...
322                            None
323                            None
324    what is the volume right now
325                            None
326                            None
Name: cleaned_text, Length: 106, dtype: object